#!/bin/sh
# MakeTeXnames.cnf to determine various manipulations of the filenames.
# Sourced from MakeTeXnames.
# 
# te@informatik.uni-hannover.de and kb@mail.tug.org. Public domain.
# $Id: MakeTeXnames.cnf,v 1.1 1997-05-23 03:02:11 jwe Exp $


# Possible features: appendonlydir dosnames nomode strip varfonts.
: ${MT_FEATURES=}

# Set append-only bit on created directories.
case "$MT_FEATURES" in
  *appendonlydir*) MT_DIR_PERMS=1$MT_DIR_PERMS;;
esac

# Get 8.3 filenames like dpiNNN/NAME.pk.
case "$MT_FEATURES" in
  *dosnames*) MT_PKNAME='dpi$DPI/$NAME.pk';;
esac

# Omit the mode directory (e.g., ljfour):
case "$MT_FEATURES" in
  *nomode*) MODE="";;
esac

# Omit the supplier/typeface part (e.g., ams/euler).
case "$MT_FEATURES" in
  *strip*) MT_NAMEPART="";;
esac

# Put new fonts into the directory named by the VARTEXFONTS environment
# variable or config file value.  (A default value for VARTEXFONTS is
# already set in the default texmf.cnf, q.v.)
# 
# A user can override this setting in either direction by setting
# USE_VARTEXFONTS to 1 or 0.
case "$MT_FEATURES" in
  *varfonts*) test "$USE_VARTEXFONTS" != 0 && USE_VARTEXFONTS=1;;
esac

if test "$USE_VARTEXFONTS" = 1; then
  if test -n "${VARTEXFONTS=`kpsewhich -expand-var='$VARTEXFONTS'`}"; then
    MT_DESTROOT=$VARTEXFONTS
    MT_NAMEPART=""
  else
    echo "$0: You asked for varfonts in MT_FEATURES, but VARTEXFONTS" >&2
    echo "$0: is not set as an environment variable or in texmf.cnf, etc." >&2
  fi
fi
  

# In case you want to override anything that got set above.
# (MakeTeX.site also gets sourced before this is called, from MakeTeXcommon.)
test -r $TEXMFCNF_DIR/MakeTeX.site && . $TEXMFCNF_DIR/MakeTeX.site
